## Statistics Assignment-2 (CIs & Hypothesis) (DS-13/22 EU)

## CONFIDENCE INTERVALS

### EXERCISE 1. 

+ What is the normal body temperature for healthy humans? A random sample of 
130 healthy human body temperatures provided by Allen Shoemaker yielded 98.25 degrees and standard deviation 0.73 degrees. 

- Give a 99% confidence interval for the average body temperature of healthy people.

In [31]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
n = 130
xbar = 98.25
s = 0.73

In [10]:
std_er = s/np.sqrt(n)
std_er

0.06402523540941313

In [4]:
z = stats.norm.ppf(1-0.005)
z

2.5758293035489004

In [5]:
moe = z*std_error
moe

0.16491807753418303

In [11]:
stats.norm.interval(alpha = 0.01, loc = xbar, scale = std_er)

(98.24919754166424, 98.25080245833576)

In [7]:
lower_limit = xbar - moe
lower_limit

98.08508192246582

In [8]:
upper_limit = xbar + moe
upper_limit

98.41491807753418

In [9]:
list = [lower_limit, upper_limit]
list

[98.08508192246582, 98.41491807753418]

## EXERCISE 2. 
The administrators for a hospital wished to estimate the average number of days required for inpatient treatment of patients between the ages of 25 and 34. A random sample of 500 hospital patients between these ages produced a mean and standard deviation equal to 5.4 and 3.1 days, respectively.

Construct a 95% confidence interval for the mean length of stay for the population of patients from which the sample was drawn.

In [12]:
smpl_mean = 5.4
n = 500
std = 3.1
cl = 0.95

In [16]:
std_er = std/np.sqrt(n)
std_er

0.13863621460498696

In [18]:
ci = stats.norm.interval(cl, smpl_mean, std_er)
ci

(5.12827801242126, 5.67172198757874)

## HYPOTHESIS TESTING

## EXERCISE 3. 

The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an Î± = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [23]:
xbar = 13.20
sigma = 2.5
n = 40
mu = 12.20
alpha = 0.01

In [24]:
z = (xbar - mu) / (sigma/np.sqrt(n))
z

2.5298221281347035

In [21]:
p = 1 - stats.norm.cdf(z)
p

0.005706018193000872

In [26]:
if p < alpha :
    print("Reject the null hypothesis")
else :
    print("Fail to reject the null hypothesis")

Reject the null hypothesis

## EXERCISE 4.
Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

Results for two type of soils

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [33]:
df = pd.read_csv('soil.csv')

In [34]:
df.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [35]:
xbar1 = df["Soil1"].mean()
xbar2 = df["Soil2"].mean()

s1 = df["Soil1"].std()
s2 = df["Soil2"].std()

alpha = 0.01

In [37]:
t_stats = ((xbar1 - xbar2) - 0) / np.sqrt(((s1 ** 2) / df['Soil1'].notna().sum()) + ((s2 ** 2) / df['Soil2'].notna().sum()))
t_stats

5.191460504717391

In [38]:
stats.norm.ppf(0.005)

-2.575829303548901

In [39]:
diff = xbar1 -xbar2
diff

0.2746857142857144

In [40]:
std_er = np.sqrt(((s1 ** 2) / df['Soil1'].notna().sum()) + ((s2 ** 2) / df['Soil2'].notna().sum()))
std_er

0.05291106694081795

In [41]:
diff - stats.norm.ppf(0.005) * std_er

0.4109755909939108

In [42]:
diff + stats.norm.ppf(0.005) * std_er

0.13839583757751805

## EXERCISE 5. 
The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

1.Get descriptive statistics (the central tendency, dispersion and shape of a datasetâs distribution) for each continent group (AS, EU, AF, NA, SA, OC).

2.Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.

CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [49]:
df1 = pd.read_csv("2015_PISA_Test.csv")
df = df1.copy()

In [50]:
df.head(5)

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375

In [51]:
df.columns

Index(['Country Code', 'Continent_Code', 'internet_users_per_100', 'Math',
       'Reading', 'Science'],
      dtype='object')

In [52]:
df.describe()

       internet_users_per_100        Math     Reading     Science
count               70.000000   70.000000   70.000000   70.000000
mean                71.973099  460.971557  460.997291  465.439093
std                 16.390632   53.327205   49.502679   48.397254
min                 21.976068  327.702000  346.549000  331.638800
25%                 60.899020  417.416075  426.948625  425.923375
50%                 72.999350  477.607150  480.199850  475.400050
75%                 85.026763  500.482925  499.687475  502.431250
max                 98.200000  564.189700  535.100200  555.574700

In [53]:
df.groupby("Continent_Code").describe().T

Continent_Code                        AF          AS          EU          OC  \
internet_users_per_100 count    2.000000   17.000000   37.000000    2.000000
                       mean    43.359918   68.455613   77.274888   86.391704
                       std      7.297226   21.086060   12.425773    2.589686
                       min     38.200000   21.976068   53.744979   84.560519
                       25%     40.779959   50.300000   68.632900   85.476112
                       50%     43.359918   74.000000   76.184000   86.391704
                       75%     45.939877   84.948353   87.479056   87.307296
                       max     48.519836   92.884826   98.200000   88.222889
Math                   count    2.000000   17.000000   37.000000    2.000000
                       mean   363.212100  466.216647  477.981449  494.559750
                       std      5.099513   64.356490   35.150403    0.938401
                       min    359.606200  380.259000  371.311400  493.896200
                       25%    361.409150  403.833200  464.040100  494.227975
                       50%    363.212100  459.816000  489.728700  494.559750
                       75%    365.015050  531.296100  503.722000  494.891525
                       max    366.818000  564.189700  521.250600  495.223300
Reading                count    2.000000   17.000000   37.000000    2.000000
                       mean   355.457400  454.059682  476.164608  506.085650
                       std      7.916909   57.048962   37.720545    4.504341
                       min    349.859300  346.549000  351.741500  502.900600
                       25%    352.658350  408.102200  452.514300  504.493125
                       50%    355.457400  433.542300  487.250100  506.085650
                       75%    358.256450  508.690500  499.814600  507.678175
                       max    361.055500  535.100200  526.424700  509.270700
Science                count    2.000000   17.000000   37.000000    2.000000
                       mean   381.074250  467.945847  478.299381  511.648700
                       std      7.536556   56.671371   34.450616    2.340241
                       min    375.745100  386.485400  383.682400  509.993900
                       25%    378.409675  417.611200  460.774900  510.821300
                       50%    381.074250  456.483600  490.225000  511.648700
                       75%    383.738825  523.277400  501.936900  512.476100
                       max    386.403400  555.574700  534.193700  513.303500

Continent_Code                        SA
internet_users_per_100 count    7.000000
                       mean    60.180494
                       std      9.772455
                       min     40.900000
                       25%     57.116462
                       50%     64.289000
                       75%     66.321532
                       max     69.198471
Math                   count    7.000000
                       mean   402.887700
                       std     18.128894
                       min    377.069500
                       25%    388.102200
                       50%    409.033300
                       75%    417.617650
                       max    422.671400
Reading                count    7.000000
                       mean   425.359229
                       std     19.709688
                       min    397.541400
                       25%    416.126900
                       50%    425.303100
                       75%    431.922700
                       max    458.570900
Science                count    7.000000
                       mean   421.747186
                       std     18.470319
                       min    396.683600
                       25%    408.205450
                       50%    424.590500
                       75%    433.794600
                       max    446.956100

In [54]:
df.isnull().sum()

Country Code              0
Continent_Code            5
internet_users_per_100    0
Math                      0
Reading                   0
Science                   0
dtype: int64

In [55]:
df[df["Continent_Code"] == "EU"]["Math"].isnull().sum()

0

In [56]:
df[df["Continent_Code"] == "AS"]["Math"].isnull().sum()

0

In [57]:
eur = len(df[df["Continent_Code"] == "EU"])
eur

37

In [58]:
asi = len(df[df["Continent_Code"] == "AS"])
asi

17